page-login {

}
.b{
    background: transparent url(../../assets/imgs/login.png) 0 0 no-repeat;
    background-size: 100%;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios {
    border-width: 0 0 0;
}
.n{
    background-color: transparent;
    border:0px;
    background:rgba(0, 0, 0, 0);     
}
.i{
    background-color: transparent;
    float: left;
    border:0px;
    background:rgba(0, 0, 0, 0); 
    width:80%;
}
.logoo{
    text-align: center;
    width:50%;
    margin-left:25%;
    margin-top: 20%;
}
.message{
    margin-top:15%;
}
.box{
    height:70px;    
}
.mine{
    margin-left:10px;
    float: left;
    width:60px;
    height:50px;
}
.p{
    color:white;
    text-align: center;
}
.btn{
    margin-left:15%;
    width:300px;
    height: 50px;
    border-radius: 40px;
    background-color: #fedb47;
}
.btn1{
    margin-left:15%;
    width:300px;
    height: 50px;
    border-radius: 40px;
    background:rgba(0, 0, 0, 0); 
    color:#fedb47;
    border:2px solid #fedb47;
}