page-home {

}
.pic{
    width: 160px;
    height: 160px;
    text-align: center;
    margin-left:30%;
    margin-top:20%;
    border-radius: 80px;
}

.btn{
  width: 120px;
  height: 45px;
  margin-left: 30%;
  color:white;
  font-weight: bolder;
  background-color: rgb(35, 177, 224);
  font-size: 20px;
  border-radius: 80px;
}
