page-about {

}
.title{
    text-align: center;
}
.fabubg{
    background: #f9f9f9;
}
.f{
    margin-top:10%;
}
.f1{
    background: white;
    width:28%;
    height: 100px;
    margin-left:4%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px lightgray;
}
