page-repostdetail {

}
.rdbg{
    background: #eeeeee;
}
.rd1{
    float: left;
    margin-top: 2%;
    color:gray;
}
.rd11{
    float: left;
    margin-top: 2%;
    color:lightgray;
    margin-left: 15%;
}
.rd2{
    font-size:17px;
    margin-left: 3%;
    font-weight:300;
}
.rd3{
    border:0px;
    margin-top: 4%;
    padding-top: 2%;
    width: 100%;
    height: 150px;
}
.rd4{
    margin-left: 2%;
    width: 10%;
    height: 8%;
}
.rdbtn{
    margin-left:12%;
    width:75%;
    font-size: 17px;
    margin-top: 12%;
    height: 50px;
    border-radius: 4px;
    background-color: #fedb47;
}