<!-- <router-outlet></router-outlet> -->
<!-- (click)="goInfo(i)" -->

<!-- 初始 -->
<!-- <ul>
  <li *ngFor="let item of list">
    {{item}}
  </li>
</ul> -->

<!-- 动态路由 -->
<!-- <ul>
  <li *ngFor="let item of list;let i=index;">
    <a [routerLink]="['/goodsinfo/',i]">{{item}}</a>
  </li>
</ul> -->

<!-- js跳转 -->
<ul>
  <li *ngFor="let item of list;let i=index;"(click)="goInfo(i)"class="txt">
    <img src="{{item.goodsListImg}}"><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;{{item.goodsName}}<br/><span> ￥{{item.price}} &nbsp;&nbsp;&nbsp;&nbsp;惊喜{{item.discount}}折</span>
  </li>
</ul>